h2 {
    color: black;
    text-transform: uppercase;
    font-family: georgia;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 70px;
  }

#thanks {
    border: 2px solid white;
    padding: 25px;
    padding-bottom: 150px;
    padding-top: 150px;
    background: url(goodbye7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
